{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend-программист</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <p style="margin-top: 50px">Frontend-программист</p>
        <img class="logo" src="{% static 'images/logotip.png' %}">
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation">
            <nav>
                <ul>
                    <li><div><a href="/">Главная</a></div></li>
                    <li><div style="background: #FDEE30; border-radius: 0px 15px 15px 0px;"><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text" style="top: 200px">
            <img class="demand_graph_1" src="{% static 'images/1.png' %}"/>
            <img class="demand_graph_2" src="{% static 'images/2.png' %}"/>
            <div class="tables">
               <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Количество вакансий - frontend</th>
    </tr>
    <tr>
      <th>Год</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005</th>
      <td>12</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>183</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>441</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>523</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>411</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>620</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>1566</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>1406</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>2231</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>1875</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>2318</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>3877</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>4731</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>6630</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>6490</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>7140</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>11848</td>
    </tr>
    <tr>
      <th>2022</th>
      <td>9335</td>
    </tr>
    <tr>
      <th>2023</th>
      <td>6021</td>
    </tr>
  </tbody>
</table>
                <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Количество вакансий</th>
    </tr>
    <tr>
      <th>Год</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005</th>
      <td>1836</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>16229</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>24000</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>30627</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>20989</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>31930</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>42282</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>49309</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>68149</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>75828</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>78934</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>85740</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>95811</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>149308</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>130763</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>144137</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>216284</td>
    </tr>
    <tr>
      <th>2022</th>
      <td>212675</td>
    </tr>
    <tr>
      <th>2023</th>
      <td>142752</td>
    </tr>
  </tbody>
</table>
                <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Средняя зарплата - frontend</th>
    </tr>
    <tr>
      <th>Год</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005</th>
      <td>54397</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>75292</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>87253</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>61491</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>36315</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>35791</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>70499</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>42184</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>41669</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>58260</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>57494</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>63434</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>86161</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>98025</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>119597</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>119239</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>157127</td>
    </tr>
    <tr>
      <th>2022</th>
      <td>166277</td>
    </tr>
    <tr>
      <th>2023</th>
      <td>140835</td>
    </tr>
  </tbody>
</table>
                <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Средняя зарплата</th>
    </tr>
    <tr>
      <th>Год</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005</th>
      <td>141868</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>141839</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>153358</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>111437</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>62682</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>55293</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>59899</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>56781</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>62468</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>55844</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>55780</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>66745</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>66673</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>76127</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>77138</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>78032</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>143783</td>
    </tr>
    <tr>
      <th>2022</th>
      <td>99201</td>
    </tr>
    <tr>
      <th>2023</th>
      <td>98585</td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>Глушков Максим Евгеньевич АТ-30</p>
</footer>
</body>
</html>