{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend-программист</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <p style="margin-top: 50px">Frontend-программист</p>
        <img class="logo" src="{% static 'images/logotip.png' %}">
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation">
            <nav>
                <ul>
                    <li><div style="background: #FDEE30; border-radius: 0px 15px 15px 0px;"><a href="/">Главная</a></div></li>
                    <li><div><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            <h3>Кто такой фронтенд-разработчик</h3>
            <p>Мы привыкли ассоциировать техническую часть сайта или приложения с программистом, а
визуальную — с дизайнером. Однако в этом процессе есть еще одно важное звено —
фронтенд-разработчик. Он связывает функционал и код сайта с его визуальной оболочкой и
создает для пользователя удобный, корректно работающий продукт.</p>
            <p>Фронтенд-разработчик — это специалист, который создает пользовательские интерфейсы. Он
отвечает за всю внешнюю часть сайта или приложения, с которой взаимодействуют люди:
меню, карточки товаров в интернет-магазине, кнопки, формы обратной связи. Благодаря
качественной работе фронтенд-разработчика появляются быстрые и удобные сайты.</p>
            <h3>Чем занимается фронтенд-разработчик</h3>
            <p>Фронтенд работает в команде с бэкенд-разработчиком и дизайнером. Бэкендер
разрабатывает техническую начинку сайта или приложения: внутреннюю архитектуру, то, как
система собирает, обрабатывает и хранит данные. Дизайнер создает макет сайта: выбирает
цвета, шрифты, иконки, расположение элементов на экранах. Задача фронтенд-разработчика
воплотить техническое содержание сайта в визуальной форме, которую предлагает дизайнер.
</p>
            <h3>Для этого он выполняет следующие задачи:</h3>
            <p>1.Делает дизайн-макет живым: верстает сервис, добавляет текст, изображения, кнопки, иконки,
всплывающие окна и чаты.</p>
            <p>2.Настраивает интерактивность страниц: чтобы все кнопки вели на правильные страницы и
внутренние ссылки работали корректно.</p>
            <p>3.Отвечает за то, как выглядит и работает сервис на разных устройствах. За красивую и удобную
или же «кривую» мобильную версию сайта тоже можете благодарить фронтендера.</p>
            <h3>Какие навыки нужны фронтенд-разработчику</h3>
            <p>Создание сайта или приложения — многоэтапный процесс, в котором фронтендеру
приходится сотрудничать как с бэкендером, так и с дизайнером. Чтобы охватить этот спектр
задач, ему пригодятся следующие навыки.</p>
            <h3>Hard skills:</h3>
            <p>Знать HTML и CSS — это основа. HTML позволяет создавать структуру страницы, а CSS —
задавать стили: то, как будут выглядеть заголовки, подписи, таблицы, графики.</p>
            <p>Знать JavaScript. Это язык, который позволяет делать страницы интерактивными и связывать их
между собой.</p>
            <p>Уметь пользоваться системой управления версиями Git и сервисом GitHub, чтобы хранить все
версии кода в одном месте и работать над ним совместно с командой.</p>
            <p>Освоить фреймворки для работы с JavaScript: Vue.js, React.js.</p>
            <p>Понимать основы юзабилити сайтов и сервисов, принципы кроссплатформенной верстки,
чтобы создавать удобные для пользователя интерфейсы.</p>
            <p>Базово пользоваться Figma или Photoshop, на случай, если нужно будет быстро что-то
перерисовать без помощи дизайнера.</p>
            <p>Знать этапы и специфику веб-разработки, чтобы общаться с бэкендером на одном языке.</p>
            <h3>Soft skills:</h3>
            <p>Уметь работать в команде. Не тянуть на себя одеяло, но проявлять экспертизу и отстаивать
свои границы, находить компромисс.</p>
            <p>Английский язык для чтения технической документации, обучения и работы на
международном рынке.</p>
            <p>Готовность постоянно учиться. Это пригодится, особенно на первом этапе, потому что в разных
компаниях разные требования к фронтенд-разработчику. Где-то вам нужно будет осваивать
графические редакторы, где-то — новые фреймворки, где-то — больше вникать в бэкенд.</p>
            <p>Упорство. Понадобится, чтобы пережить первые 100 отказов при приеме на работу и найти
команду мечты.</p>
            <div class="empty"></div>
            <img class="home_img" src="{% static 'images/Frontend.jpg' %}"/>
        </div>
    </div>
</main>
<footer>
    <p>Глушков Максим Евгеньевич АТ-30</p>
</footer>
</body>
</html>